* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #111;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 100vw;
  height: 100vh;
  background-color: #111;
}

.input-section {
  background-color: #222;
  padding: 20px;
  border-radius: 10px;
  width: 350px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.input-row {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  justify-content: center;
}

.input-row input {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #333;
  color: white;
}

.input-row button {
  width: auto;
  padding: 10px 20px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.input-row button:hover {
  background-color: #333;
}

.list {
  width: 100%;
}

.list p {
  background-color: #333;
  padding: 6px;
  border-radius: 5px;
  margin: 6px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.titick{
  cursor: pointer;
}
.icon{
  cursor: pointer;
  margin-left: 0.5rem;
}
.tick_box {
  background-color: #6c63ff;
  padding: 20px;
  border-radius: 10px;
  width: 280px;
  color: white;
  box-shadow: 0 0 10px rgba(108, 99, 255, 0.3);
}

.tick_box h3 {
  margin-bottom: 10px;
  text-align: center;
}

.tick_box p {
  background-color: rgba(255, 255, 255, 0.15);
  padding: 6px;
  border-radius: 5px;
  margin: 6px 0;
  /* margin-left: 7rem; */
}
.undo{
  cursor: pointer;
  margin-left: 10rem;
}
.update_button{
  margin-left:0.5rem ;
}